<!--
<div><h2 class="title">How to win a car</h2>


<div class="board-body">
<div class="lists ui-sortable"><div data-id="1" class="list ui-sortable-handle">  <h5>
    Gamble in Vegas
  </h5>

  <button type="button" class="delete_list btn"
          data-id=" 1"=""><span class="glyphicon glyphicon-remove"></span></button>


  <div class="cards ui-sortable"><div data-id="1" class="card ui-sortable-handle">Play the tarzan slots

<button type="button" class="delete_card btn" data-id="1"><span class="glyphicon glyphicon-remove"></span></button>
</div><div data-id="2" class="card ui-sortable-handle">Do not buy souvenirs

<button type="button" class="delete_card btn" data-id="2"><span class="glyphicon glyphicon-remove"></span></button>
</div></div> -->

<% events.forEach(function(event){ %>
  <%= event.get("occasion") %>
<%  }) %>
